/* Typography */
.h1 {
    @apply text-6xl font-bold;
}

.h2 {
    @apply text-4xl font-bold;
}

.h3 {
    @apply text-3xl font-bold;
}

.h4 {
    @apply text-2xl font-bold;
}

@media (width >= theme(--breakpoint-md)) {
    .h1 {
        @apply text-7xl;
    }

    .h2 {
        @apply text-5xl;
    }
}

/* Buttons */
.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center rounded-sm leading-normal transition duration-150 ease-in-out;
}

.btn {
    @apply px-6 py-3;
}

.btn-sm {
    @apply px-4 py-2;
}

/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply rounded-xs border border-gray-700 focus:ring-0 focus:ring-offset-0;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply bg-gray-800 py-3 px-4 focus:border-blue-500;
}

.form-input,
.form-textarea {
    @apply placeholder-gray-500 leading-snug;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply bg-gray-800 checked:bg-blue-500 checked:border-transparent text-blue-600 focus-visible:not-checked:border-blue-500;
}

.form-checkbox {
    @apply rounded-xs;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Slider animations */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-30px);
  }
}

.slide-enter {
  animation: slideIn 0.5s ease-out;
}

.slide-exit {
  animation: slideOut 0.5s ease-out;
}